body {
  font-family: "proxima-nova", serif
}

.carousel {
  background-color: #e3e3e3;
}

.btn {
  width:180px;
  font-size:15px;
  font-weight:900;
  border-radius:10px;
  border: solid 2px #F15D22;
  background-color: #F15D22;
  color: white;
  cursor:pointer;
}

.btn-selected {
  color:#F15D22;
  background-color: white;
}

.btn-link {
  width:180px;
  border-radius:10px;
  line-height: 18px;
  font-size:15px;
  font-weight: 900;
  background-color: #F15D22;
  color:white;
  border: 2px solid #F15D22;
  height:40px;
  cursor:pointer;
  text-decoration-line: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height:44px;
}

.logo {
  width:296px;
  object-fit: contain;
}

.header {
  width: 1080px;
  height: 84px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-wrapper {
  display:flex;
  justify-content: center;
}

.header-text {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #4d4d4f;
  margin-bottom: 16px;
  margin-top:24px;
}

.circle-img{
  object-fit:cover;
  border-radius: 50%;
  cursor: pointer;
}

.circle-large {
  width: 200px;
  height: 200px;
  border: #434B6D 12px solid;
  color: #434B6D;
}

.circle-small {
  width: 100px;
  height: 100px;
  border: #EE7D30 12px solid;
  color: #EE7D30;
}

.growth-choices-container {
  display:flex;
  justify-content:space-around;
}

.img-selected {
  background: #434B6D;
  mix-blend-mode: hard-light;
}

.picframe {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  height:300px;
}

.persona-panel {
  text-align: center;
  width:400px;
  min-height:600px;
  border: #EE7D30 solid 2px;
  border-radius:20px;
  padding: 16px;
}

.persona-img {
  margin-top: -24px;
}

.persona-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
}

.persona-title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.persona-description {
  text-align: left;
  line-height: 1.5em;
}
