body {
  font-family: "avenir", sans-serif;
}

.carousel {
  background-color: #232323;
}

.btn {
  width:180px;
  font-size:15px;
  font-weight:900;
  border-radius:20px;
  border: solid 2px #2C95B5;
  background-color: #2C95B5;
  color: white;
  cursor:pointer;
}

.btn-choice {
  color:white;
  background-color: #2C95B5;
  border: solid 2px #2C95B5;
  height: 78px;
  padding: 16px;

}

.btn-circle {
  padding:8px;
  width:120px;
  font-size: 18px;
}

.btn-selected {
  color:white;
  background-color: #F15d22;
  border: solid 2px #F15d22;
}

.btn-link {
  width:180px;
  height: 78px;
  padding:16px;
  border-radius:10px;
  line-height: 18px;
  font-size:15px;
  font-weight: 900;
  background-color: #2C95B5;
  color:white;
  border: 2px solid #2C95B5;
  cursor:pointer;
  text-decoration-line: none;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width:296px;
  object-fit: contain;
}

.header {
  width: 1080px;
  height: 84px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-wrapper {
  display:flex;
  justify-content: center;
}

.header-text {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  margin-top:24px;
  text-align: center;
}

.choice-header {
  margin-bottom: 50px;
}

.header-text-circle {
  color: white;
}

.circle-img{
  object-fit:cover;
  border-radius: 50%;
  cursor: pointer;
}

.circle-large {
  width: 200px;
  height: 200px;
  border: #2C95B5 12px solid;
  color: #2C95B5;
}

.circle-small {
  width: 100px;
  height: 100px;
  border: #F15d22 12px solid;
  color: #F15d22;
}

.growth-choices-container {
  display:flex;
  justify-content:space-around;
}

.img-selected {
  background: #F15d22;
  /*mix-blend-mode: hard-light;*/
  border-color: #F15d22;
}

.picframe {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  height:300px;
}

.persona-panel {
  text-align: center;
  width:400px;
  min-height:520px;
  border: #F15d22 solid 2px;
  border-radius:20px;
  padding: 16px;
}

.persona-img {
  margin-top: -24px;
}

.persona-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.persona-title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.persona-description {
  text-align: left;
  line-height: 1.5em;
}

.panel {
  margin-top:80px;
}

.choice-panel {
  background-color: white;
}

.choice-body {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  width:100%;
  margin-top:20px;
}

.choice-detail {
}

.choice-button-list {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:16px;
}

.link-button-list {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.growth-section {
  padding: 56px 0px 8px;
}


.links-header {
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #434B6D;
  margin-bottom: 50px;
  margin-top:24px;

}

.growth-info {
  font-size:16px;
  line-height:26px;
  color: white;
  margin: 0;
}

.growth-header-container {
  max-width:600px;
  margin:0 auto 40px;
  text-align: center;
}


.inner-item {
  font-weight: 900;
  width:275px;
  height:140px;
  font-size:20px;
  line-height: 24px;
  color:#878787;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

